body {
  background: cornsilk;
  color: darkslategrey;
  font-family: verdana;
  font-size: 12px;
}
table, th, td {
    border: 1px solid #888888;
    border-collapse: collapse;
    padding: 4px 32px 4px 4px;
}
input, button, option {
    font-family: verdana;
    font-size: 12px;
}
input[type=text] {
    margin-left: 12px
}
input[type=submit] {
    margin-top: 8px;
}
h1 {
  margin-top:32px;
}
h2 {
    margin-top: 1.5em;
}
.entry-form {
  display: inline-block;
  width: 120px;
  margin-bottom: 8px;
}
.filters {
    display: inline-block;;
    margin-bottom: 8px;
    width: 50px;
}
select[multiple] {
    vertical-align: text-top;
    min-width: 148px;
}
select[multiple]:focus option:checked {
  background: #009999;
}
form {
  margin: 8px 0;
}
label {
  display: inline-block;
  min-width:128px
}
