<!doctype html>
{{ block "content" . }}
<html lang="en">
    <head>
        <title>budget | balance</title>
        <style>
            body, form, label, input, option {
                font-size: 14px;
                color: #777777;
                font-family: Verdana;
            }
            table, th, td {
                border: 1px solid #888888;
                border-collapse: collapse;
                padding: 4px;
            }
            select {
                vertical-align: top;
                min-width: 100px;
                min-height: 200px;
            }
        </style>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/insert">insert</a></li>
            <li><a href="/ledger">ledger</a></li>
            <li><a href="/balance">balance</a></li>
            <li><a href="/ledgerseries">ledger over time</a></li>
            <li><a href="/budget">budget</a></li>
            <li><a href="/budgetseries">budget over time</a></li>
        </ul>
        <form action="/budgetseries" method="POST">
            <label for="start">start:</label>
            <input type="date" id="start" name="start">

            <label for="end">end:</label>
            <input type="date" id="end" name="end">

            <label for="interval">interval (days):</label>
            <input type="number" id="interval" name="interval">

            <label for="categories">categories:</label>
            <select id="categories" name="categories" multiple size=10>
                {{ range .AllCategories }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>

        {{ $dates := .Plot.DateHeaders }}
        <h1>budget over time</h1>
        <p>from <b>{{ .Start.Format "2006-01-02" }}</b> through <b>{{ .End.Format "2006-01-02" }}</b></p>
        <p>time interval: {{ .TimeInterval }} days</p>
        <table>
            <tr>
                <th></th>
                {{ range .Plot.BucketHeaders }}
                <th>{{ . }}</th>
                {{ end }}
            </tr>

            {{ range $index, $row := .Plot.Data }}
            <tr>
                <td>{{ index $dates $index }}</td>
                {{ range $i, $value := . }}
                <td>{{ $value.String }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </body>
</html>
{{ end }}
