<!doctype html>
{{ block "content" . }}
<html lang="en">
    <head>
        <title>ledger | daily balance</title>
        <style>
            body, form, label, input, option {
                font-size: 14px;
                color: #777777;
                font-family: Verdana;
            }
            table, th, td {
                border: 1px solid #888888;
                border-collapse: collapse;
                padding: 4px;
            }
            select {
                vertical-align: top;
                min-width: 100px;
            }
        </style>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/insert">insert</a></li>
            <li><a href="/ledger">ledger</a></li>
            <li><a href="/dailybalance">daily balance</a></li>
        </ul>

        <form action="/dailybalance" method="POST">
            <label for="start">start:</label>
            <input type="date" id="start" name="start">

            <label for="end">end:</label>
            <input type="date" id="end" name="end">

            <label for="buckets">buckets:</label>
            <select id="buckets" name="buckets" multiple>
                {{ range .AllBuckets }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>

        {{ $dates := .Plot.DateHeaders }}
        <h1>Daily Balance</h1>
        <table>
            <tr>
                <th></th>
                {{ range .Plot.BucketHeaders }}
                <th>{{ . }}</th>
                {{ end }}
            </tr>

            {{ range $index, $row := .Plot.Data }}
            <tr>
                <td>{{ index $dates $index }}</td>
                {{ range $i, $value := . }}
                <td>{{ $value }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </body>
</html>
{{ end }}
