<!doctype html>
{{ block "content" . }}
<html lang="en">
    <head>
        <title>ledger</title>
        <style>
            body {
                font-size: 12px;
                color: #777777;
                font-family: Verdana;
            }
            table, th, td {
                border: 1px solid #888888;
                border-collapse: collapse;
                padding: 4px;
            }
        </style>
    </head>
    <body>
        {{ $dates := .DateHeaders }}
        <h1>Daily Ledger</h1>
        <table>
            <tr>
                <th></th>
                {{ range .BucketHeaders }}
                <th>{{ . }}</th>
                {{ end }}
            </tr>

            {{ range $index, $row := .Data }}
            <tr>
                <td>{{ index $dates $index }}</td>
                {{ range $i, $value := . }}
                <td>{{ $value }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </table>
    </body>
</html>
{{ end }}
